<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <div id="<%= dom_id customer %>">
      <%= render "customer_table", customer: customer %>

      <div class="<%= dom_class customer.order %>>">
        <%= render "customer_orders", orders: customer.order %>
      </div>

    </div>
  <% end %>
</div>

<%= link_to "New customer", new_customer_path %>
